<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <location path="Imagens">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
      <authorization>
          <deny users="?" />
          <allow roles="Gerente" />
      </authorization>    
    
		<roleManager enabled="true"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		
    <authentication mode="Forms">
       <forms loginUrl="~/Sessoes/Login.aspx" defaultUrl="~/inicial.aspx" />
    </authentication>
	</system.web>

  

  <connectionStrings>
    <add name="BaseDados"
      connectionString="Data Source=.\SQLEXPRESS;&#xD;&#xA;      AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;&#xD;&#xA;      Integrated Security=True;&#xD;&#xA;      User Instance=True"



      providerName="System.Data.SqlClient"/>
    
  </connectionStrings>



  <system.web>
    <profile>
      <properties>
        <add name="Nome" type="string"/>
        <add name="Idade" type="string"/>
        <add name="Morada" type="string"/>
        <add name="Telefone" type="double"/>
      </properties>
    </profile>
  </system.web>
  
  
  
  
</configuration>
